
body {
    font-family: 'Rajdhani', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background: #0e0f1e ; 
    background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #ff4655; 
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
}

#search {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 60%;
    font-size: 1rem;
    border-radius: 5px;
    border: 2px solid #ff4655;
    background-color: #1f1f1f;
    color: #fff;
    outline: none;
    transition: all 0.3s ease;
}

#search::placeholder {
    color: #a0a0a0;
}

#search:focus {
    border-color: #faff00; 
}

#agents-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
}

.agent-card {
    background: #1f1f1f;
    border: 1px solid #ff4655;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.agent-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(255, 70, 85, 0.5);
}

.agent-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ff4655;
}

.agent-name {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #faff00; 
    font-weight: bold;
}

.agent-role {
    color: #a0a0a0;
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 10px;
}

.agent-skills {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.agent-skills li {
    background-color: #ff4655;
    color: #fff;
    padding: 5px;
    margin: 5px auto;
    border-radius: 5px;
    width: 80%;
    font-size: 0.9rem;
}

header {
    text-align: center;
    margin: 20px;
}

header img {
    width: 200px;
    margin-bottom: 10px;
}
